# Virtual Environment 
venv/ 
.env 
.venv/ 
env/ 
 
# Cache 
__pycache__/ 
*.py[cod] 
 
# Credentials 
*service_account*.json 
*credentials*.json 
.env.* 
 
# Local Data & Models 
data/* 
!data/.gitkeep 
models/* 
!models/.gitkeep
